html{
  scroll-behavior: smooth;
}

body {
  text-align: center;
  margin: 0;
  background: #1A1A1A;
  font-family: 'Mulish', sans-serif;
  font-weight: normal;
  color: #FFFFFF;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  max-width: 890px;
  display: inherit;
  justify-content: inherit;
  flex-direction: inherit;
  align-items: inherit;
  height: inherit;
  margin: 0 auto;
  flex: 1;
}

section {
  padding: 0 50px;
  padding-top: 78px;
}

.brand-img {
  transition: 0.5s;
  animation-name: brand-img-hero;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: relative;
}

@keyframes brand-img-hero {
  0% {
    opacity: 0;
    left: -300px;
    bottom: -300px;
  }
  100% {
    opacity: 1;
    left: 0px;
    bottom: 0px;
  }
}

.brand-img:hover {
  transform: scale(1.2)
}

.burger-button {
  position: fixed;
  z-index: 3;
  text-align: left;
  left: 16px;
  top: 24px;
}

.hide-icon {
  display: none;
}

.menu {
  text-align: left;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -50%;
  width: 50%;
  transition: .3s;
  z-index: 2;
  background-color: #333;
}

.menu .container {
  max-width: 1200px;
}

.menu.is-active {
  left: 0;
}

.opaco {
  opacity: .4;
}

.menu ul {
  margin-top: 100px;
  height: 205px;
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-between;
  padding-left: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-top: 65px;
  perspective: 200px;
}

.hero-title {
  margin-top: 5px;
  margin-bottom: 7px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 36px;
}

.hero img {
  color: white;
  width: 170px;
}

.hero p {
  color: #D6CECE;
}

.brand-text {
  color: #D6CECE;
  animation: brand-text 2s;
}

@keyframes brand-text {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.whatsapp-wraper {
  padding-bottom: 78px;
  position: relative;
}

.whatsapp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition-duration: .5s;
}

.whatsapp:hover {
  transform: scale(1.5);
}

.whatsapp i {
  font-size: 40px;
  color: #70D958;
}

.about-us {
  text-align: left;
}

.section-title {
  color: #FFFFFF;
  margin-bottom: 30px;
  text-align: left;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}

.netflix-elements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  animation: netflix-elements 1s;
}

@keyframes netflix-elements {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.netflix-elements img {
  width: 70px;
  height: 80px;
}

.netflix-elements p {
  padding-left: 15px;
  width: 140px;
  font-weight: 650;
  text-align: left;
  color: #E63E33;
  align-self: center;
}

.about-us p {
  font-size: 16px;
  line-height: 155%;
  color: #D6CECE;
  margin-top: 15px;
}

.about-text {
  display: flex;
  flex-direction: column;
}

.plan-category {
  margin-top: 50px;
  text-align: left;
  padding-left: 30px;
}

.plan-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.plan-item {
  height: auto;
  text-align: center;
  border-radius: 10px;
  margin: 16px;
  overflow: hidden;
  color: #333333;
  background: #333333;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .9);
  width: 196px;
}

.plan-item-title {
  display: flex;
  background: #E63E33;
  color: white;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.plan-item-title h3 {
  margin: 0;
}

.plan-item-description {
  box-sizing: initial;
  padding: 16px;
  color: white;
}

.plan-item-description>h2 {
  font-size: 33px;
}

.plan-item-description>ul {
  color: #D6CECE;
  list-style: none;
  font-size: 16px;
  font-weight: lighter;
  text-align: left;
  padding: 0;
  margin: 0;
  margin-top: 16px;
}

.plan-item-description>ul li {
  margin-bottom: 10px;
}

.compare-table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.compare-titles {
  margin-top: 30px;
  color: #FFFFFF;
  display: flex;
  width: calc(65% + 40px);
  justify-content: space-between;
}

.compare-row {
  border-bottom: 1px solid #595656;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  color: #A8A8A8;
  padding: 0 20px;
  width: 70%;
}

.compare-row p {
  font-size: 11px;
}

.price {
  font-size: 33px;
  font-weight: 600px;
}

.price-fourScn {
  color: #F4364D;
}

.feature {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-item {
  margin-bottom: 30px;
  color: #FFFFFF;
}

.feature-item img {
  width: 100px;
  margin-bottom: 8px;
}

.feature-item-name {
  font-weight: bold;
}

.feature-item-text {
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.pay-method-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-gap: 29px;
  padding: 0 40px;
}

.pay-method-item {
  width: 80px;
  border-radius: 100px;
  overflow: hidden;
  justify-items: center;
  align-items: center;
  transition-duration: .5s;
}

.pay-method-item:hover {
  transform: scale(1.7);
}

.pay-method-item img {
  width: 100%;
  text-align: center;
  margin-bottom: -4px;
}

.contact .form {
  text-align: left;
}

.form button {
  border-radius: 15px;
  background: transparent;
  border: 1px solid white;
  color: white;
  width: 75px;
  height: 35px;
}

.contact input {
  border-radius: 20px;
  background-image: url('../images/mail.svg');
  background-position-x: 10px;
  background-position-y: center;
  background-size: 15px;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  padding: 15px;
  padding-left: 30px;
  width: 40%;
}

footer {
  display: flex;
  flex-direction: column;
  background: #333333;
  height: 250px;
  align-items: center;
  justify-content: center;
  margin-top: 78px;
}

.footer-image-container {
  display: flex;
  align-items: flex-end;
}

.footer-image-container>img {
  width: 120px;
  height: 98px;
  padding-bottom: 5px;
}

.rocket-footer {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.brand-footer {
  max-width: 1000px;
  width: 100%;
  padding-left: 38px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: #FFFFFF;
  box-sizing: border-box;
}

#brand-img-footer {
  width: 80px;
  margin-left: 0;
}

#brand-footer-text {
  text-align: left;
  font-weight: 700;
  font-size: 22px;
}

.brand-footer p {
  font-weight: lighter;
}

.social {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding-right: 38px;
}

.social a {
  margin-left: 25px;
}

.social-icon {
  font-size: 32px;
  color: #FFFFFF;
}

.made-footer {
  margin-bottom: 0;
  background-color: #242424;
  color: white;
}

.made-footer a {
  color: white;
}

@media screen and (min-width: 768px) {
  .plan-list {
    flex-direction: row;
    justify-content: center;
  }
  .feature {
    flex-direction: row;
    margin-top: 90px;
  }
  .about-us p {
    font-size: 1.2em;
  }
  .pay-method-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .brand-footer {
    flex-direction: row;
  }
  .social {
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .rocket-footer {
    padding-left: 38px;
  }
  footer {
    height: 140px;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 40px;
    margin-top: 30px;
  }
  .hero-title {
    font-size: 4em;
    padding-bottom: 20px;
  }
  .brand-text {
    text-align: left;
  }
  .hero p {
    font-size: 1.2em;
  }
  .hero img {
    width: 225px;
  }
  .burger-button {
    display: none;
  }
  .netflix-elements p {
    width: 212px;
    font-size: 26px;
  }
  .netflix-elements img {
    width: 110px;
    height: 120px;
  }
  .plan-item {
    width: 270px;
  }
  .plan-item-title {
    font-size: 24px;
  }
  .plan-item-description>h2 {
    font-size: 50px;
  }
  .plan-item-description>ul {
    font-size: 20px;
    font-weight: 300;
  }
  .menu {
    position: initial;
    width: 100%;
    text-align: right;
    justify-content: right;
  }
  .menu ul {
    height: 60px;
    flex-direction: row;
    margin: 0;
    align-items: center;
    justify-content: flex-end;
  }
  .menu li {
    padding: 0 9px;
    transition: .2s;
  }
  .menu li:hover {
    opacity: .5;
  }
  .plans img {
    width: 330px;
  }
  .compare-row h2 {
    font-size: 50px;
  }
  .compare-row p {
    font-size: 16px;
  }
  .one-digit {
    padding-left: 34px;
  }
  .pay-method-list {
    padding-top: 50px;
  }
  .pay-method-item {
    width: 110px;
  }
  .whatsapp i {
    font-size: 3.7em;
  }
}